Login Please</br>
<form method="get" action= <%= user_path %> >
  Username<input type="text" name="username">
  Password<input type="password" name="password">
  <input type="submit" value="Submit">
</form>
</br>
<form method="get" action= <%= new_user_path %> >
  <input type="submit" value="New User?">
</form>