<table>
  <% @posts.each do |p| %>
    <tr>
      <td>
        <%= p.title %>
      </td>
    </tr>
  <% end %>
</table>

<form method="get" action=<%= new_post_path %>> 
  <input type="submit" value="Post a new article here!">
</form>