<h1>Blog! Blog! Blog! Blog! Blog! Zone.</h1>
<p>LINK LINK LINK LINK LINK LINK LINK LINK LINK LINK LINK LINK</p>
<br> </br>

<%=yield%>

<br> </br>
<br> </br>
<br>
<footer>blah blah copyright Lochlan Hehr 2014</footer>
</br>