<%= "#{params[:un]}'s user page" %>
<br> </br>
<p> New post? </p>
<form method="get" action="/post/new_post/">
<input type="text" name="title" placeholder="Post title">
<input type="submit" value="New Post">
</form>